// profiles

profiles {

    standard {
        //executor and container
        process.executor = 'local'
        process.container = 'davideyre/bug-flow:latest'
        docker.enabled = true
        
        //work directory 
		workDir = "work"
        
        //total resources - e.g. a 6 core rMBP with 16GB memory
        cpus = 6
        memory = 16.GB
        
        //per process resources
        process {
        	//default
        	cpus = 1
        	memory = 4.GB
    	}
        process {
    		withName: "rawFastQC" {
        	cpus = 2
        	memory = 1.GB //4* CPU as determined by fastQC
    		}
    	}
    	process {
    		withName: "cleanFastQC" {
        	cpus = 2
        	memory = 1.GB //4* CPU as determined by fastQC
    		}
    	}
    	process {
    		withName: "bbDuk" {
			cpus = 2 
			memory = 4.GB //based on example runs
    		}
    	}
    	process {
    		withName: "spades" {
			cpus = 4 
			memory = 12.GB //based on example runs
    		}
    	}
    	process {
    		withName: "bwa" {
			cpus = 2 
			memory = 4.GB //based on example runs
    		}
    	}
    	process {
    		withName: "removeDuplicates" {
			cpus = 2 
			memory = 4.GB //based on example runs
    		}
    	}

    }

    server {
    
    	//executor and container
    	process.executor = 'local'
        process.container = 'davideyre/bug-flow:latest'
        docker.enabled = true
        
        //work directory 
		workDir = "work"
        
        //total resources
        cpus = 36
        memory = 384.GB
        
        //per process resources
        process {
        	//default
        	cpus = 1
        	memory = 4.GB
    	}
        process {
    		withName: "rawFastQC" {
        	cpus = 4
        	memory = 1.GB //4* CPU as determined by fastQC
    		}
    	}
    	process {
    		withName: "cleanFastQC" {
        	cpus = 4
        	memory = 1.GB //4* CPU as determined by fastQC
    		}
    	}
    	process {
    		withName: "bbDuk" {
			cpus = 4 
			memory = 8.GB //based on example runs
    		}
    	}
    	process {
    		withName: "spades" {
			cpus = 8 
			memory = 64.GB //based on example runs
    		}
    	}
    	process {
    		withName: "bwa" {
			cpus = 8 
			memory = 8.GB //based on example runs
    		}
    	}
    	process {
    		withName: "removeDuplicates" {
			cpus = 8 
			memory = 8.GB //based on example runs
    		}
    	}
        
    
    }
	
    cluster {
    
        //executor and container
    	process.executor = 'sge'
        process.container = "singularity/bug-flow.img"
        singularity.enabled = true
        singularity.autoMounts = true

        process.queue = 'short.qc'
        clusterOptions = '-P bag.prjc'

        //per process resources
        process {
        	//default - for this cluster default is to assign 8GB per coree
        	cpus = 1
        	memory = 8.GB
    	}
    	process {
    		withName: "spades" {
			cpus = 4 
			memory = 32.GB //based on example runs
    		}
    	}
    }
    

}

// description
manifest {
    homePage = 'https://github.com/davideyre/bug-flow'
    description = 'Pipeline for mapping, variant calling and assembling bacterial sequencing data'
    mainScript = 'bug-flow.nf'
    version = '0.1'
}

// error options 
//default halt pipeline
//process.errorStrategy {task.attempt==1 ? 'retry' : 'finish'} //this only completes already pending tasks
//process.errorStrategy = 'ignore' //this logs the error, prevents subsequent tasks running, but continues other samples


// reporting
report {
	enabled = true
	file = "nextflow_reports/report.html"
}

timeline {
	enabled = true
	file = "nextflow_reports/timeline.html"
}