/* docker options */
process.container = 'davideyre:pipeline-test'
docker {
	enabled = true
}

/* error options */
//process.errorStrategy {task.attempt==1 ? 'retry' : 'finish'} //this only completes already pending tasks
//process.errorStrategy = 'ignore' //this logs the error, prevents subsequent tasks running, but continues other samples


/* executors */

executor {
	name = 'local'
	cpus = 12
	memory = '16GB'
}


/* work directory */
workDir = "$PWD/work"


/* reporting */
report {
	enabled = true
	file = "$PWD/nextflow_reports/report.html"
}

timeline {
	enabled = true
	file = "$PWD/nextflow_reports/timeline.html"
}