/* docker options */
process.container = 'davideyre:pipeline-test'
docker {
	enabled = true
}

/* work directory */
workDir = "$PWD/work"

/* reporting */

report {
	enabled = true
	file = "$PWD/nextflow_reports/report.html"
}

timeline {
	enabled = true
	file = "$PWD/nextflow_reports/timeline.html"
}